
POSTGRES_USER=attendance_user
POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD
POSTGRES_DB=attendance_db

SECRET_KEY=CHANGE_ME_GENERATE_WITH_openssl_rand_hex_32
CORS_ORIGINS=*

VITE_API_URL=http://localhost:8000/api/v1
VITE_WS_URL=ws://localhost:8000/api/v1/attendance/ws
