PROJECT_NAME="AI Powered Attendance System"

POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=attendance_db

SECRET_KEY=YOUR_SUPER_SECRET_KEY_HERE_CHANGE_IN_PRODUCTION
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080 # 7 Days
