POSTGRES_USER=neondb_owner
POSTGRES_PASSWORD=npg_9GoeqxsvKcA7
POSTGRES_SERVER=ep-cold-scene-a16t8s42-pooler.ap-southeast-1.aws.neon.tech
POSTGRES_DB=neondb
SECRET_KEY=my-secret-key-123456789-abcdefg
CORS_ORIGINS=*
